@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*========== Common Styles ==================*/

body{
    font-family: "Poppins", sans-serif;
    max-width: 1240px;
    margin: 0 auto;
    background-color: #ffffff;
}


/*========== Custom Styles ==================*/

.header-area{}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.header-flex-logo h1{    
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    line-height: auto;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #3A3A3A;
}

/*=========== Header Banner Area =================*/

.header-banner{
    
}

.header-banner-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.banner-content  h1{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}

.banner-content  p{
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
    margin-top: 16px;
}

button.btn-button{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 26px;
}

i.fa-arrow-right{
    margin-left: 10px;
}

.banner-image div{
    position: relative;
    background-color: #f7f0ff;
    width: 350px;
    height: 350px;
    border-radius: 50%;
   
}

.banner-image img{
    position: absolute;
    width: 460px;
    height: 460px;
    margin-right: 50px;
    top: -53px;
    right: -107px;
    border-radius: 50%;
    border: 1px solid rgba(200, 160, 255, 0.2);
}

/*======== Sponsors Area ==================*/


.our-sponsors-flex{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 200px;
    align-items: center;
    padding-left: 45px;
    border: 1px solid #dee4eb;
    padding: 20px;
    border-right: none;
    border-left: none;
}

/*============ Collection Area =====================*/


.collection-area{
    margin-top: 100px;
}


.section-title{
    font-size: 1.6rem;
    font-weight: 600;
    color: #3A3A3A;
    line-height: 6rem;
    text-align: center;
}

.collection-cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}

.single-card{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 12px;
}

.single-card img{
    width: 100%;
    object-fit: cover;
}

.single-card h2{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: #18191F;
}

.single-card p{
    font-size: .9rem;
    font-weight: 700;
    color: #787885;
}

.card-value{
    font-size: 1.5rem;
}

.single-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.single-card ul{
    display: flex;
    padding-left: 0px;
}

.single-card ul li{
    list-style: none;
}

.single-card ul li:last-child {
    margin-left: 3dvh;
}

.see-more{
    text-align: right;
    color: red;
    cursor: pointer;
}

.see-more i.fa-arrow-right{
    margin-left: 5px;
}



/*============= Featured Area ==================*/


.featured-area{
    margin-top: 100px;
}

.featured-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

/*============ Footer Area =======================*/

.footer-area{
    margin-top: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.footer-content{
    text-align: center;
    padding: 65px;
}

.footer-content h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-content p{
    font-size: .8rem;
    font-weight: 700;
}

.footer-content ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 0px;
}

.footer-content ul li{
    list-style: none;
}

.footer-content ul li i{
    color: white;
}




/*============= Responsive Area ==================*/


/*=========== Small Device ===============*/

@media screen and (max-width: 576px) {
    .header-banner-flex, .header-flex{
        flex-direction: column;
    }

    .banner-image {
        order: -1; 
        margin-bottom: 70px;
      }
    
      .banner-content {
        order: 1;
        margin-bottom: -70px;
      }

    .banner-image div{
        margin-top: 5rem;
    }

    nav ul li{
        margin-right: 10px;
    }

    .banner-content{
        text-align: center;
    }

    nav ul{
        padding: 0px;
    }

    nav{
        background-color: gray;
        padding: 10px;
        border-radius: 10px;
    }

    nav ul li a{
        color: white;
        font-size: .8rem;
    }

    nav ul li a:hover{
        border-bottom: 2px solid red;
        color: yellow;
    }

    .header-banner-flex, .header-flex{
        margin-top: 15px;
    }

    .header-banner-flex h1{
        font-size: 2rem;
        line-height: 40px;
    }

    .header-banner-flex p{
        width: 310px;
        margin: 10px auto;
    }

    .our-sponsors-flex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .collection-cards-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-grid{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .featured-image{
        order: -1;
        text-align: center;
    }

    .featured-content{
        order: 1;
        text-align: center;
    }

   
}

/*============= Tab Device ==================*/

@media screen and (min-width: 577px) and (max-width: 992px) {
    .header-banner-flex, .header-flex{
        flex-direction: column;
    }

    nav ul{
        background-color: aquamarine;
        padding: 20px;
        border-radius: 10px;
    }

    nav ul li a{
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .banner-image {
        order: -1; 
        margin-bottom: 70px;
      }
    
      .banner-content {
        order: 1;
        margin-bottom: -70px;
      }

    .banner-image div{
        margin-top: 5rem;
    }

    .header-flex{
        justify-content: center;
    }

    .header-banner-flex{
        margin-top: 20px;
        justify-content: center;
        text-align: center;
    }

    .collection-cards-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .collection-cards-grid .single-card:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
      }

    .our-sponsors-flex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .featured-grid{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .featured-image{
        order: -1;
        text-align: center;
        margin-bottom: 20px;
    }

    .featured-image img{
        width: 700px;
        object-fit: cover;
    }

    .featured-content{
        order: 1;
        text-align: center;
    }

   

}